
.vs/Calculador/v16/Server/sqlite3/storage.ide-wal
.vs/Calculador/v16/Server/sqlite3/storage.ide
.vs/Calculador/v16/Server/sqlite3/db.lock
.vs/Calculador/v16/Server/sqlite3/storage.ide-shm
.vs/Calculador/v16/.suo
Calculador.sln